/* body {
  background-image: url(./assets/galaxy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
} */

.container-fluid {
  /* display: flex;
  justify-content: space-between; */
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.navbar__image {
  width: 100px;
  cursor: pointer;
}

.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.favCounter {
  margin-left: 5px;
}

.dropdown-menu {
  width: 200px;
  background-color: #212529;
  color: rgb(255, 208, 0);
}

.dropdown__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item {
  color: #fff;
}

.links {
  text-decoration: none;
  color: #ffc107;
  font-size: 1.2rem;
}

.links:hover {
  color: #ffc1079f;
}

.home-container {
  width: 90%;
  margin: 200px auto;
  text-align: center;
}

.home-container__title {
  font-size: 8rem;
  text-transform: uppercase;
  -webkit-text-stroke: 4px #ffc107;
  color: transparent;
  font-weight: bold;
}

.home-container__button {
  background-color: transparent;
  color: #ffc107;
  border: 2px solid #ffc107;
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: 250ms ease-in-out;
  padding: 0 30px 3px;
}

.home-container__button:hover {
  color: #000;
  background-color: #ffc107;
  transition: 250ms ease-in-out;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.people-container,
.planets-container {
  width: 90%;
  margin: 30px auto 0;
}

.people,
.planets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  /* width: 90%;
  margin: 0 auto; */
}

h1 {
  color: #ffc107;
}

.card {
  width: 350px !important;
  margin: 20px 0;
  background-color: #212529;
  color: #fff;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 10%;
}

.card-title {
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faRegHeart,
.faHeart {
  font-size: 25px;
}

.individualCharacter {
  width: 90%;
  margin: 100px auto;
}

.individualCharacter__body,
.individualPlanet__body {
  display: flex;
}

.individualCharacter__image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 50% 10%;
}

.individualCharacter__description,
.individualplanet__description {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.individualCharacter hr {
  width: 100%;
  height: 3px;
  color: rgb(255, 208, 0);
}

.individualCharacter__details {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 208, 0);
  font-size: 1.5rem;
}

.individualPlanet {
  width: 90%;
  margin: 100px auto;
}

.individualPlanet hr {
  width: 100%;
  height: 3px;
  color: rgb(255, 208, 0);
}

.individualPlanet__details {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 208, 0);
  font-size: 1.5rem;
}

.icon {
  font-size: 25px;
  color: #ffc107;
  cursor: pointer;
}

.icon:hover {
  color: #000;
}

@media (max-width: 1024px) {
  .card {
    width: 280px !important;
  }

  .people,
  .planets {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .home-container {
    margin: 0 auto;
  }

  .home-container__title {
    font-size: 5rem;
    -webkit-text-stroke: 2px #ffc107;
  }

  .home-container__button {
    font-size: 1.6rem;
    padding: 0 25px 3px;
  }

  .card {
    width: 280px !important;
  }

  .people,
  .planets {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .navbar__items {
    margin-top: 10px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .home-container {
    margin: 0 auto;
  }

  .home-container__title {
    font-size: 5rem;
    -webkit-text-stroke: 2px #ffc107;
  }

  .home-container__button {
    font-size: 1.6rem;
    padding: 0 25px 3px;
  }

  .card {
    width: 280px !important;
  }

  .people,
  .planets {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .navbar__items {
    margin-top: 10px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
  }
}
